/* Enter your custom styles here */
.sapUiSizeCompact .sapUiFormContainerTitle>.sapUiFormTitle {
    height: 0rem;
    line-height: 0rem;
}
.sapUiSizeCompact .sapMInputBaseContentWrapper {
    height: 26px;
}